td.details-control {
    background-size: 100% 100% !important;
    background: url("../svg/child-row-open-no-fill.svg") no-repeat center center;
    cursor: pointer;
}
td.details-control:hover {
    background-size: 100% 100% !important;
    background: url("../svg/child-row-open.svg") no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background-size: 100% 100% !important;
    background: url("../svg/child-row-close.svg") no-repeat center center;
}
